[submodule "dpdk"]
	path = dpdk
	url = https://github.com/scylladb/dpdk
[submodule "fmt"]
	path = fmt
	url = https://github.com/scylladb/fmt
[submodule "c-ares"]
	path = c-ares
	url = https://github.com/scylladb/c-ares
